.product{
    width: 100%;
    height: 360px;
}
.product h2 {
    width: 100%;
    text-align: center;
    font-size: 45px;
    max-width: 260px;
    border-bottom: 2px solid #4a4a42;
    margin: 20px auto 10px;
}
.product-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.product-item {
    background-color: #fff;
    text-align: center;
    flex-basis: 24.5%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    cursor: pointer;
    border-radius: 20px;
}
.product-item a {
    text-decoration: none;
}
.product-item a img {
    width: 150px;
    height: 150px;
}
.product-item a h4 {
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 1.2;
    color: #4a4a42;
}
.product-item a p{
    margin: 10px auto;
    font-size: 15px;
    font-weight: bold;
    color: #4a4a42;
}
.product-item span {
    color: rgb(249, 181, 11);
}
.product-item:hover {
    border: 1px solid #ccc;
    transform: scale(1.1,1.1);
}