.content {
    display: flex;
    height: 720px;
    width: inherit;
    justify-content: center;
    align-items: center;
}
.box {
    /* height: 400px; */
    width: 360px;
    background-color: #fff;
    border-radius: 10px;
}

.content-log {
    padding: 20px;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 25px;
}


  input[type=user], input[type=password] {
    width: 320px;
    padding: 12px 20px; 
    margin: 8px 0;
    outline: none;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
  }
  
input[type="submit"] {
    background-color: #4a4a42;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 320px;
    border-radius: 30px;
  }
  

input[type="submit"] :hover {
    opacity: 0.8;
  }
a {
    font-size: 15px;
    text-decoration: none;
    margin-left: 10px;
}
.signup  {
    text-align: center;
    font-size: 15px;
}

.error-messager {
  font-size: 14px;
  text-align: left;
  color: red;
}
#login-fail {
  text-align: center;
}