.toggle {
    background-color: #696969;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 25px;
    margin: 20px 0 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
.toggle:hover {
    background-color: rgba(96, 96, 91, 0.5);
  }
  
.detail {
    padding: 20px 18px;
    display: none;
    overflow: hidden;
    background-color: #fff;
    width: inherit;
    height: auto;
    font-size: 18px;
    line-height: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  span{
      font-family: 'Times New Roman', Times, serif;
  }